.background-pane {
    -fx-background-image: url("../images/background/game-background.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}


.card-image {
    -fx-cursor: hand;
}
.text {
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 20px;
    -fx-fill: #333333;
    -fx-font-weight: bold;
}


.button-uno {
    -fx-background-color: #ff6347;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 15px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.button-uno:hover {
    -fx-background-color: #ff4500;
}