@font-face {
    font-family: "PaluiSPDemo";
    src: url("../fonts/PaluiSPDemo-Bold.otf") format("opentype");
}

.background-pane {
    -fx-background-image: url("../images/background/main-page-background.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}


.id_text {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #272323;
    -fx-text-alignment: center;
}

.input-field {
    -fx-font-size: 18px;
    -fx-max-width: 250;
    -fx-pref-height: 40px;
    -fx-padding: 5px;
    -fx-border-color: #272323;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.input-field:focused {
    -fx-border-color: #2980b9;
    -fx-background-color: rgba(255, 255, 255, 1);
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: #272323;
    -fx-font-size: 30px;
    -fx-pref-width: 250px;
    -fx-pref-height: 60px;
    -fx-border-radius: 15px;
    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian, rgba(0,0,0,0.2), 6, 0.0, 0, 3 );
    -fx-margin: 5px;
    -fx-border-width: 0px;
}

.button:hover {
    -fx-text-fill: rgba(41, 128, 185, 0.9);
    -fx-effect: dropshadow( gaussian, rgba(0,0,0,0.3), 6, 0.0, 0, 4 );
}

.button:pressed {
    -fx-text-fill: rgba(28, 89, 128, 0.9);
}

.button:disabled {
    -fx-text-fill: rgba(127, 140, 141, 0.7);
}
