@font-face {
    font-family: "PaluiSPDemo";
    src: url("../fonts/PaluiSPDemo-Bold.otf") format("opentype");
}

.background-pane {
    -fx-background-image: url("../images/background/main-page-background.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: #272323;
    -fx-font-size: 30px;
    -fx-pref-width: 250px;
    -fx-pref-height: 60px;
    -fx-border-radius: 15px;
    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian, rgba(0,0,0,0.2), 6, 0.0, 0, 3 );
    -fx-margin: 5px;
    -fx-border-width: 0px;
}

.button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(41, 128, 185, 0.9);
    -fx-effect: dropshadow( gaussian, rgba(0,0,0,0.3), 6, 0.0, 0, 4 );
}

.button:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(28, 89, 128, 0.9);
}

.button:disabled {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(127, 140, 141, 0.7);
}
